.header{
    padding: 24px 16px;
    border-bottom: 1px solid var(--cornflower);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-nav,.header-nav-lg{
    display: none;
}

.nav-lists{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-lists li{
    position: relative;
}

.nav-lists li::after{
    content: "";
    position: absolute;
    bottom: -33px;
    left: 0;
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background: var(--iris);
    transition: width var(--transition-duration) var(--animation-timing-function);
}

.nav-lists li a {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--navyblue);
    transition: color var(--transition-duration) var(--animation-timing-function);
}

.nav-lists li:hover a, .nav-lists li:hover::after {
    color: var(--iris);
    width: 100%;
}

.nav-lists li a.active, .nav-lists li.active::after {
    color: var(--iris);
    width: 100%;
}

.header-address a{
    color: var(--slate);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.48px;
    font-style: normal;
}

.nav-lists li a{
    color: var(--navyblue);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav-lists li a:hover,
.header-address a:hover{
    color: var(--iris);
}

.mobile-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--navyblue);
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 21px;
}

.logo .logo-span{
    color: var(--ocean);
}

.mobile-menu .menu-toggle{
    fill: var(--navyblue);
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    z-index: 999;
    transform: translateX(100%);
    transition: transform var(--transition-duration) var(--animation-timing-function);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 23px;
    right: 15px;
    border-radius: 50%;
    border: 1px solid var(--cornflower);
    fill: var(--navyblue);
    background: none;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container .menu-toggle svg{
    width: 16px;
    height: 16px;
}

.menu-container .menu-toggle:hover{
    fill: var(--ocean);
}

.mobile-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    margin-top: 32px;
}

.mobile-menu-content li a{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--navyblue);
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-menu-content li a:hover{
    color: var(--ocean);
}

.mobile-menu-content li a.active{
    color: var(--ocean);
}

.menu-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.menu-footer .header-address{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.menu-footer .header-address a:nth-child(1){
    color: var(--iris);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    font-style: normal;
}

.menu-footer .header-address a:nth-child(2){
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    font-style: normal;
}

.menu-footer .footer-social-lists{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-social-lists li{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 50%;
    cursor: pointer;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.footer-social-lists li a svg{
    width: 100%;
    height: 100%;
    fill: var(--white);
}

.list-item-content h3{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: var(--navyblue);
}

.list-item-content p{
    color: var(--slate);
    letter-spacing: 0.32px;
}

.hero{
    background: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url('./../images/people-office-1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 600px;
}

.hero .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    height: 100%;
}

.hero .container h1{
    color: var(--white);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.hero .container button{
    background-color: var(--iris);
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.4px;
    padding: 16px 32px;
    border-radius: 4px;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--navybluemodal);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 1;
    pointer-events: auto;
    transition-property: visibility, opacity, transform;
    transition-duration: var(--animation-timing-function);
    transform: none;
}

.modal.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
}

.modal.is-hidden .modal-content{
    transform: scale(0.95)
}

.modal-content{
    width: 408px;
    margin: 0 18px;
    max-height: 100%;
    background: var(--white);
    border-radius: 4px;
    padding: 72px 24px 24px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transform: none;
    transition: transform var(--transition-duration) var(--animation-timing-function);
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: background-color var(--transition-duration) var(--animation-timing-function), color var(--transition-duration) var(--animation-timing-function);
}

.modal-close:hover {
    background-color: var(--ocean);
    color: var(--white);
}

.modal-close svg {
    fill: currentColor;
    transition: fill var(--transition-duration) var(--animation-timing-function);
}

.modal-close:hover svg {
    fill: var(--white);
}

.modal-header{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 16px;
}

.modal-header h3{
    color: var(--navyblue);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.modal-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}

.form-group{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.form-group label{
    color: var(--lightslate);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.form-group .form-group-input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--navybluemodal, rgba(46, 47, 66, 0.40));
    padding: 8px 16px;
}

.form-group-input svg{
    fill: var(--navyblue);
}

.form-group-input input{
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--navyblue);
    background: transparent;
}

.form-group-input svg{
    fill: var(--lightslate);
    transition: fill var(--transition-duration) var(--animation-timing-function);
}

.form-group-input:focus-within svg{
    fill: var(--iris);
}

.form-group-input:focus-within{
    border: 1px solid var(--iris);
}

.form-group textarea{
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--navybluemodal);
    padding: 8px 16px;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    outline: none;
}

.form-group textarea:focus{
    border: 1px solid var(--iris);
}

.form-group-agree{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.form-group-agree label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--lightslate);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.form-group-agree input{
    display: none;
}

.form-group-agree label svg{
    width: 16px;
    height: 16px;
    border: 1px solid var(--navybluemodal);
    border-radius: 2px;
    padding:1px;
    fill: none;
    transition: fill var(--transition-duration) var(--animation-timing-function);
}

.form-group-agree input[type="checkbox"]:checked + label svg{
    fill: var(--white);
    background-color: var(--iris);
}

.form-group-agree label {
    user-select: none;
    cursor: pointer;
}

.form-group-agree label a{
    text-decoration: underline;
    color: var(--iris);
    transition: color var(--transition-duration) var(--animation-timing-function);
}

.form-group-agree label a:hover{
    color: var(--ocean);
}

.submit-btn{
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn button[type="submit"]{
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.submit-btn button[type="submit"]:hover{
    background: var(--ocean);
}

.submit-btn button[type="submit"]:active{
    background: var(--green);
}

.about{
    padding: 96px 16px;
}

.about-lists{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 72px;
}

.about-list-item-icon{
    display: none;
}

.about-list-item h3{
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.about-list-item p{
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.services{
    display: none;
}

.teams{
    padding: 96px 16px;
    background: var(--cloud);
}

.teams-title{
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.teams-lists{
    max-width: 264px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 72px;
}

.teams-list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.teams-list-item img{
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0px 0px;
}

.teams-list-item-details{
    width: 100%;
    margin: 32px 0px;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.teams-list-item .teams-list-item-details h3{
    color: var(--navyblue);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.teams-list-item .teams-list-item-details p{
    color: var(--slate);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.teams-list-item .teams-social-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.teams-social-list li{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 50%;
    cursor: pointer;
}

.teams-social-list li svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: var(--white);
}

.customers{
    padding: 96px 16px 112px;
}

.customers-title{
    color: var(--navyblue);
    text-align: center; 
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-lists{
    width: 396px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 72px;
    grid-column-gap: 16px;
}

.customers-list-item{
    width: 190px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--lightslate);
}

.customers-list-item svg{
    fill: var(--lightslate);
}

.footer{
    padding: 96px 16px;
    background: var(--navyblue);
    color: var(--white);
}

.footer-lists{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 72px;
}

.footer-list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.footer-list-item .logo{
    color: var(--cloud);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-list-item h3{
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    text-transform: capitalize;
}

.logo .logo-span{
    color: var(--iris);
}

.footer-list-item p{
    width: 268px;
    color: var(--cloud);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: left;
}

.footer-social-lists{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-social-lists .footer-social-item{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 50%;
    cursor: pointer;
}

.footer-social-item a svg{
    width: 100%;
    height: 100%;
    fill: var(--white);
}

.footer-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-form-group input{
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    border-radius: 4px;
    border: 1px solid var(--lightslate);
    background-color: var(--navybluemodal);
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.footer-form-group button{
    height: 48px;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: var(--iris);
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.footer-form-group button svg{
    width: 16px;
    height: 16px;
    fill: var(--white);
}

.nav-lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.header-address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
}

/* Portfolio */
.portfolio{
    width: 100%;
    padding: 0 16px;
}

.portfolio .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 48px auto;
}

.portfolio-filter-lists{
    display: flex;
    column-gap: 16px;
    row-gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.filter-list-item{
    cursor: pointer;
}

.filter-list-item .filter-buttons {
    font-size: 16px;
    font-weight: 500;
    color: var(--navyblue);
    padding: 12px 24px;
    border-radius: 4px;
    color: var(--iris);
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    transition: all var(--transition-duration) var(--animation-timing-function);
}

.filter-list-item .filter-buttons:hover {
    background: var(--cornflower);
    color: var(--iris);
}

.filter-list-item .filter-active {
    background: var(--ocean);
    color: var(--white);
}

.filter-list-item .filter-active:hover {
    background: var(--iris);
    color: var(--white);
}

.portfolio-lists{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

.portfolio-list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--white);
    border: 1px solid var(--cornflower);
    transition: box-shadow var(--transition-duration);
}

.portfolio-list-item:hover{
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
}

.portfolio-list-item-figure{
    position: relative;
    overflow: hidden;
}

.portfolio-list-item-figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-list-item-figure figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--iris);
    border-radius: 4px 4px 0px 0px;
    padding: 0 24px;
    color: var(--white);
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 24px;
    transition: transform var(--transition-duration) var(--animation-timing-function);
    transform: translateY(100%);
    will-change: transform;
}

.portfolio-list-item:hover figcaption{
    transform: translateY(0%);
}

.portfolio-list-item img{
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0px 0px;
}

.portfolio-list-item .list-item-content {
    margin: 32px 0;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 428px){
    .mobile-menu, .header-nav-lg{
        display: none;
    }

    .header-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-list-item h3{
        text-align: left;
    }

    .about-lists{
        max-width: 576px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 72px;
    }

    .teams-lists{
        max-width: 576px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 64px;
        grid-column-gap: 24px;
    }

    .customers-lists{
        width: 552px;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 24px;
    }

    .customers-list-item{
        width: 168px;
        height: 88px;
    }

    .portfolio-filter-lists{
        justify-content: center;
    }

    .portfolio-lists{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-lists{
        max-width: 576px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 72px;
    }

    .footer-list-item{
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .footer-list-item:nth-last-child(1){
        grid-column: 1 / 3;
    }

    .footer-social-lists{
        display: flex;
        justify-content: flex-start;
    }

    .footer-form{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
    }

    .footer-form-group{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
}

@media (min-width: 1158px){
    .header-nav{
        display: none;
    }
    .header-nav-lg{
        padding: 8px 156px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-nav{
        display: flex;
        gap: 76px;
    }

    .header-address{
        flex-direction: row;
        gap: 40px;
    }

    .portfolio-lists{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-lists{
        max-width:1176px;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-list-item:nth-last-child(1){
        grid-column: 3 / 4;
    }

    .customers-lists{
        width: 1176px;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 24px;
    }
}